<h1>Bienvenidos</h1>


<div class="jumbotron">
  <h1>Bodegas</h1>
  <p>Registrar Bodegas </p>
  <p><a class="btn btn-primary btn-lg" href="/crearBodega" role="button">Registrar Bodegas</a> <a class="btn btn-primary btn-lg" href="/listarBodegas" role="button">Listar Bodegas</a> </p>
</div>
