<h1>Bienvenidos</h1>

<div row>
  <div class="jumbotron col-sm-5">
    <h1>Bodegas</h1>
    <p>Registrar Bodegas </p>
    <p><a class="btn btn-primary btn-lg" href="/crearBodega" role="button">Crear Bodegas</a> <a class="btn btn-primary btn-lg" href="/listarBodegas" role="button">Listar Bodegas</a> </p>
  </div>
  <div class="col-sm-1"> </div>

  <div class="jumbotron col-sm-5">
    <h1>Items</h1>
    <p>Registrar Items </p>
    <p><a class="btn btn-primary btn-lg" href="/crearItem" role="button">Crear Items</a> <a class="btn btn-primary btn-lg" href="/listarItems" role="button">Listar Items</a> </p>
  </div>

</div>
